main{
  min-height: 80vh;
}

/* .card-md{
  height: 40rem;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;
  
} */

h3{
  padding: 1rem 0;
}

.rating span{
  margin: 0.1rem;
}

.carousel {
  width:600px;
  height:500px;
  margin: auto;
}

@media (max-width: 600px) {
  .carousel {
    width:auto;
    height:auto;
  }
}

body {
  background-color: #951717;
 }


.title-homepage{
  color: #1f9684;
}

.column-homepage-text {
  float:left;
  width: 65%;
  padding: 5px;
}


/* Clearfix (clear floats) */
.row-homepage::after {
  content: "";
  clear: both;
  display:table;
}


.product-photo{
  width: 450px;
  padding-left: 10%;
}

/* .product-detail{
  width: 500px;
  align-items:center;
} */

/* cartScreen */
h2{
  font-size: 1.6rem;
  padding: 1rem 0;

}

